<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
  </head>
  <body>
   <form class="" action="index.html" method="post">
     <input type="text" name="name">
     <input type="text" name="coach">
     <input type="text" name="pg">
     <input type="text" name="sg">
   </form>
  </body>
</html>
